@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-progress-bar {
  background-color: rgb(229, 231, 235);
  border-radius: 2rem;
}

::-moz-progress-bar {
  background-color: rgb(229, 231, 235);
  border-radius: 2rem;
}

::-webkit-progress-value {
  background-color: rgb(56, 189, 248);
  border-radius: 2rem;
}
::-moz-progress-value {
  background-color: rgb(56, 189, 248);
  border-radius: 2rem;
}

.bad::-webkit-progress-value {
  background-color: rgb(156 163 175);
}

.bad::-moz-progress-value {
  background-color: rgb(156 163 175);
}

.best::-webkit-progress-value {
  background-color: rgb(251 146 60);
}
.best::-moz-progress-value {
  background-color: rgb(251 146 60);
}

/*마크다운에서 가져오는 html에 적용하기 위해 css 파일에도 tailwind 사용하기*/

.blog-post-content h1 {
  @apply font-semibold;
}

.blog-post-content p {
  @apply mb-2 text-gray-700;
}

.blog-post-content ul {
  @apply pl-5 list-disc text-gray-700;
}
